/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES COLORS */
:root {
  --background: #bf7782;
  --font-paleblack: #111;
  --white: whitesmoke;
  --purple: #7C2494;
  --darkred: #620504;
  --red: #850A25;
  --black-licorice: #181114;
}

/* BODY */

body {
  background-color: var(--white);
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  /* opacity: 0; */
  /* transition: opacity 0.25s ease-in; */
}


/* body.loaded {
  opacity: 1;
} */

/* HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-logo {
  /* width: 90px;
  height: 90px;
  margin: 30px; */
  width: 230px;
  height: 230px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 30px;
  font-family: "Pacifico", cursive;
  font-size: 24px;
  z-index: 1;
  width: 90%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
  color: var(--black-licorice);
}

/* BUTTON  */

.button {
  cursor: pointer;
}

/* BUTTON LANGUAGE */

.button-language {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-family: "Reenie Beanie", cursive;
  /* font-size: 24px; */
  padding: 20px;
  letter-spacing: 2px;
  text-align: center;
  margin: 50px;
  order: 2;
  border: none;
  background-color: transparent;
  font-size: 36px;
  transition: opacity 0.3s ease;
}

/* HAMBURGER MENU ICON */


.menu-icon {
  display: none;
  margin-right: 50px;
}



/* HERO */

.hero-image_container {
  position: relative;
  width: 100%;
  height: 80vh;
  /* nastavíš podľa potreby, napr. 60vh alebo 500px */
  background-image: url('images/hero03.jpg');
  background-size: cover;
  background-position: right top;
  /* vyplní celý priestor */
  background-position: start;
  /* zameria stred obrázka */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.hero-image_container h1 {
  position: absolute;
  color: var(--white);
  font-size: 3rem;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* BUTTON */
/* BUTTON HERO TITLE */

.button-herotitle {
  font-family: "Reenie Beanie", cursive;
  font-size: 36px;
  padding: 15px 20px;
  letter-spacing: 2px;
  border-radius: 5px;
}

/* SEKCE */

p {
  margin: 50px;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "Pacifico", cursive;
  margin-top: 50px;
  color: var(--darkred);
  letter-spacing: 3px;
}

/* ABOUT ME */

.aboutme-textandphoto_container {
  display: flex;
  flex-direction: column;
}

/* .aboutme-paragraph {
  width: 50%;
} */

.aboutme-image_wrapper {
  text-align: center;
}

.aboutme-image {
  max-height: 300px;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--black-licorice);
  padding: 5px;
}

.ez-icon {
  display: block;
  margin: 1.2rem auto;
  color: var(--black-licorice);
  width: 2rem;
  height: 2rem;
}

/* /////////////////////////////////// */

/* SMALL SCREENS */
@media (max-width: 850px) {

  header {
    /* display: flex;
    justify-content: space-between; */
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }


  nav {
    display: none;
    /* skryté menu */
    flex-direction: column;
    background-color: var(--background-light);
    position: absolute;
    top: 90px;
    /* výška headeru */
    left: 0;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin: 0;
  }

  nav.show {
    display: flex;
    /* zobrazí sa po kliknutí */
    margin-top: -20px;
  }

  .menu-icon {
    display: block;
    font-size: 20px;
    cursor: pointer;
    /* margin: 15px 30px; */
    z-index: 1;
    margin: 0px;
    order: 1;
  }

  .nav-list {
    flex-direction: column;
    gap: 15px;
    background-color: whitesmoke;
    width: 100%;
  }

  .nav-list li:last-child {
    margin-bottom: 50px;
    /* alebo margin-bottom, margin-left, podľa potreby */
  }

  .nav-list li:first-child {
    margin-top: 50px;
    /* alebo margin-bottom, margin-left, podľa potreby */
  }

  .menu-logo {
    width: 150px;
    height: 150px;
    margin: 0;
    /* margin-left: 15px; */
  }

  /* test */

  /* HERO */

  .hero-image_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: right top;
  }

  .button-herotitle {
    margin-bottom: 50px;
  }

  .button {
    opacity: 70%;
    color: var(--black-licorice);
  }


  .button-language {
    margin: 0;
    font-size: 40px;
    padding: 0px;
    border: none;
    background-color: transparent;
  }
}
